:root {
    font-family: "Source Sans Pro", sans-serif;
    --box-sizing: border-box;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg: #191718;
    --start-node: #fbff00;
    --end-node: #ba03f1;
    --open-node: #00ff00;
    --closed-node: #ff0000;
    --path-node: #56c2ec;
    --empty-node: #8c8c8c;
    --blocked-node: #191718;
    --node-container: #4c4c4c;
    --container-max-size: 80vh;
    --container-mid-size: 55vh;
    --container-min-size: 40vh;
    --node-border: 0.01rem;
    --button-margin: 2vh;
}

* {
    box-sizing: var(--box-sizing);
}

body {
    color: var(--text-primary);
    background-color: var(--bg);
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }

  .active {
    background-color: #004500;
  }

.node-container {
    position: fixed;

    top: 50%;
    left: 35%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    width: var(--container-max-size);
    height: var(--container-max-size);
    padding: 0.3rem;
    border-radius: 0.5rem;
    background-color: var(--node-container);
}

.node-row {
    display: flex;
}

.node {
    background-color: var(--empty-node);
    border: var(--node-border) solid var(--node-container);
    border-radius: 0.1rem;
}

.node:hover {
    border: 0px;
}

.container1 {
    
    position: fixed;

    top: 20%;
    right: 20%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);

    width: 10rem;
    height: 10vh;

    justify-content: baseline;
    align-items: center;
}

.container2 {
    position: fixed;

    top: 65%;
    right: 20%;
    -ms-transform: translate(50%, -50%);
    transform: translate(50%, -50%);

    width: 10rem;
    height: 10vh;
}

.dropdown {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10rem;
    height: 2.5rem;
    border-radius: 0.7rem;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    padding:0.5rem;
    cursor: pointer;
    margin: var(--button-margin);
}

.button {
    width: 10rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 0.7rem;
    background-color: #d3d3d3;
    margin: var(--button-margin);
}

.button:hover {
    background-color: #6f6f6f;
}

.button:focus {
    background-color: #4f4f4f;
}

@media only screen and (max-width: 1296px) {
    .node-container {
        top: 37%;
        left: 50%;
        width: var(--container-mid-size);
        height: var(--container-mid-size);
    }

    .container1 {
        top: 75%;
        left: 30%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .container2 {
        top: 72%;
        left: 67%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}

@media only screen and (max-width: 768px) {
    .node-container {
        top: 28%;
        left: 50%;
        width: var(--container-min-size);
        height: var(--container-min-size);
    }

    .container1 {
        left: 50%;
        width: 100%;
        text-align: center;
        margin: auto;
        top: 56%;
    }

    .container2 {
        left: 50%;
        width: 100%;
        text-align: center;
        margin: auto;
        top: 78%;
    }

    .dropdown {
        width: 5rem;
        margin: 0;
    }
}